:root {
  --bg: #EFF0F6;
  --black: #212024;
  --blue: #BFBADB;
  --grey: #514F5E;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
  font-size: 0.525vw;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1 1 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.title {
  font-size: 7.6rem;
  font-weight: 600;
  line-height: 115%;
  color: var(--grey);
  margin-bottom: 2.5rem;
}

.title-m {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.title-sm {
  font-size: 2rem;
  font-weight: 600;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.text-accent {
  font-size: 2rem;
  font-weight: 500;
}

.text-m {
  font-size: 1.6rem;
  font-weight: 500;
}

.header {
  padding: 1.5rem 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.menu__item {
  position: relative;
  display: inline-block;
  padding: 1rem;
}

.menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 0.2rem;
  background-color: var(--blue);
  transition: width 0.3s ease-in-out;
}

.menu__item:hover::after {
  width: 100%;
}

.hero {
 position: relative;
}

.hero__bg {
  position: absolute;
  z-index: -1;
  width: 240.1rem;
  left: -27.3rem;
  top: -18.5rem;
}

.hero__inner {
  display: flex;
  padding: 14.9rem 0 14.9rem 12.3rem;
  gap: 1.5rem;
}

.hero__img {
  width: 46.8rem;
  height: 54.4rem;
}

.hero__content {
  padding-top: 17.9rem;
}

.hero__links {
  margin-top: 8.2rem;
  display: flex;
  gap: 1.5rem;
}
.link__icon {
  width: 4.5rem;
  height: 4.5rem;
}

.about {
  position: relative;
  padding: 11.1rem 0 13rem;
  background-color: var(--blue);
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__content {
  width: 59rem;
}

.about__languages {
  margin-top: 14rem;
}

.about__education {
  position: relative;
  width: 59rem;
  padding: 7.9rem 6.7rem;
  background-color: var(--bg);
}

.about__image {
  position: absolute;
  bottom: 6.5rem;
  right: 57rem;
  z-index: 0;
  width: 30rem;
  height: 50rem;
}

.about__education-title {
  margin: 4.7rem 0 2.8rem;
}

.about__courses-item {
  display: flex;
  justify-content: space-between;
  width: 29rem;
}

.about__courses-item:last-child {
  margin-bottom: 0;
}

.skills__inner {
  padding: 11.2rem 0;
  display: flex;
  gap: 1.5rem;
}

.code {
  width: 47rem;
  padding: 8.5rem 2.6rem;
  background-color: var(--blue);
}

.code code {
  font-size: 1.6rem;
}

.code pre {
  margin-left: -14rem;
}

.skills__list {
  display: flex;
  gap: 4rem;
  margin-bottom: 7.4rem;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.8rem;
}

.skills__item .text, .text-m {
  text-align: center;
}

.skills__item-diagram {
  position: relative;
  width: 10.4rem;
  height: 10.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.1rem;
}

.skills__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.software__list {
  display: flex;
  gap: 2.3rem;
  margin-top: 4.4rem;
}

.software__item {
  width: 4.7rem;
  height: 4.7rem;
}